<section class="vh-100 d-flex align-items-center justify-content-center text-center text-white bg-dark" id="home">
  <div>
    <h1 class="display-4 fw-bold">Hi, I'm Naval Kishor Shukla</h1>
    <p class="lead mt-3">B.Tech Data Science | Full Stack .NET Developer | MERN Stack Developer</p>
<div class="resume-buttons mt-3">
  <!-- View in browser -->
  <a href="assets/naval_net.pdf" target="_blank" class="btn btn-outline-light me-2">
    View Resume
  </a>

  <!-- Download -->
  <a href="assets/naval_net.pdf" download class="btn btn-primary">
    Download Resume
  </a>
</div>

  </div>
</section>
