<section class="container my-5 py-5" id="about">
  <div class="row align-items-center">
    <!-- Profile Picture -->
    <div class="col-md-4 text-center mb-4 mb-md-0">
      <img src="assets/navalimg.jpg" class="img-fluid rounded-circle shadow" width="200" alt="Profile Picture">
    </div>

    <!-- About Text -->
    <div class="col-md-8">
      <h2 class="mb-3">About Me</h2>
      <p>
        I am a B.Tech graduate in Data Science with a strong interest in Full Stack .NET Development.
        Passionate about building scalable web applications using Angular, React , .NET, and SQL.
      </p>
      <p><strong>Skills:</strong> Angular, TypeScript, Bootstrap, React.js, Node.js, .NET, Entity Freamework, MVC core,  SQL, MongoDB</p>
    </div>
  </div>
</section>
